$header-font-weight: lighter;

.resume-body {
	-webkit-print-color-adjust: exact;
}

.resume-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-bottom: 10px;
}

@media print {
	.resume-section {
		padding-bottom: 10px;
	}
}

.resume-section-title-outline {
	height: 70px;
	width: $gutter-width + 10;
	padding: 10px;
	background: linear-gradient(135deg, transparent 15px, $outline-color 0);
}

.resume-section-title {
	height: $gutter-height;
	width: $gutter-width;
	padding: 15px;
	font-weight: bold;
	font-size: $title-font-size;
	line-height: 20px;
	text-align: center;
	font-family: $title-font-stack;
	font-weight: $header-font-weight;
	background: linear-gradient(135deg, transparent 15px, white 0);
}

.resume-section-content-outline {
	position: relative;
	left: -10px;
	background: $outline-color;
	width: $content-width + 20;
	padding: 10px 10px 10px 10px;
}

.resume-section-content {
	width: $content-width;
	background: white;
	padding: 15px;
	padding-top: 10px;

	&::before {
		content: '';
		width: 10px;
		height: $gutter-height;
		background-color: white;
		position: absolute;
		left: 0px;
		top: 10px;
		display: inline-block;
	}
}

.resume-section-item-container {
	height: 34px;
	font-size: $title-font-size;
	font-weight: $header-font-weight;
	font-family: $title-font-stack;
	line-height: 30px;
}

.resume-section-item {
	float: left;
}

.resume-section-date {
	float: right;
	width: 125px;
}

.resume-section-item-detail {
	color: #808080;
	font-size: medium;
	padding-left: 25px;
	padding-right: 75px;
}

.wide-detail {
	padding-right: 25px;
}