// functions

@mixin margin-before($in) {
	-webkit-margin-before: $in;
			margin-before: $in;
}

// variables
$outline-color: rgba(128, 128, 128, 1);
$title-font-stack: "Khand", sans-serif;
$gutter-width: 200px;
$gutter-height: 50px;
$content-width: 600px;
$title-font-size: x-large;

// style

h1 {
	
}

h2 {
	font-family: $title-font-stack;
	font-weight: lighter;
}

h3 {
	@include margin-before(0);
	font-family: $title-font-stack;
	font-size: 2em !important;
	font-weight: normal;
	margin: 0;
	padding-top: 3px;
}

html {

}

body {
	margin: 0;
	font-family: 'Helvetica Neue', sans-serif;
}

.page {
	display: flex;
	flex-flow: column;
	height: 100%;
}

.header {
	font-family: $title-font-stack;
	font-size: 1.5em;
	text-align: center;
	padding: 10px;
	flex: 0 1 auto;
	
	a {
		color: black;
	}
}

.content-bg {
	padding: 50px 5px 10px;
	flex: 1 1 auto;

	// the magical clearfix
	.about {
		content: " ";
		display: block; 
		height: 0; 
		clear: both;
	}
}

@media (max-width: 768px) {
	.sidebar-outline {
		margin-left: 15px;
		margin-right: 15px;
	}
}

.sidebar-outline {
	//background: -moz-linear-gradient(-135deg, transparent 15px, rgba(0,0,0,0.5) 0);
	background: linear-gradient(-135deg, transparent 15px, $outline-color 0);
	padding: 5px;
}

.sidebar-col {
	background: linear-gradient(-135deg, transparent 15px, white 0);
	padding: 15px;

	#about {
		margin-top: 0;
	}
}

article {
	margin-bottom: 30px;

	// the magical clearfix
	&:after {
		content: " ";
		display: block; 
		height: 0; 
		clear: both;
	}
}

.blog-post-gutter {
	display: inline-block;
	height: $gutter-height;
	width: 150px;
	padding: 5px 5px 5px 15px;
	background-color: white;
	color: black;

	float: left;
	
	background: linear-gradient(135deg, transparent 10px, white 0);
}

.blog-post-outline {
	//background: -moz-linear-gradient(135deg, transparent 15px, rgba(0,0,0,0.5) 0);
	background: linear-gradient(135deg, transparent 15px, $outline-color 0);
	padding: 5px;
}

.blog-info-line {
	color: grey;
}

.blog-post-content {
	background: linear-gradient(135deg, transparent 15px, white 0);
	padding: 15px;
	color: black;

	img {
		display: block;
		max-width: 100%;
		max-height: 100%;
		margin: 0 auto;

	}

	blockquote {
		font-size: 1.1em;
	}

	table {
		width: 100%;

		td {
			border: 1px solid lightgrey;
			padding: 2px;
		}
	}

	h2 {
		font-size: 1.7em;
	}

	pre {
		tab-size: 4;
		-moz-tab-size: 4;
		-o-tab-size: 4;
	}
}

.blog-full-post {
	text-align: center;
}

#paginator {
	text-align: center;
	margin-bottom: 20px;
	font-size: 1.6em;
	font-family: $title-font-stack;

	a + a {
		margin-left: 5px;
	}

	em + a {
		margin-left: 5px;
	}

	a + em {
		margin-left: 5px;
	}
}

// Resume stuff

$header-font-weight: lighter;

.resume-body {
	-webkit-print-color-adjust: exact;
}

.resume-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-bottom: 30px;
}

@media print {
	.resume-section {
		padding-bottom: 10px;
	}
}

.resume-section-title-outline {
	height: 70px;
	width: $gutter-width + 10;
	padding: 10px;
	background: linear-gradient(135deg, transparent 15px, $outline-color 0);
}

.resume-section-title {
	height: $gutter-height;
	width: $gutter-width;
	padding: 15px;
	font-weight: bold;
	font-size: $title-font-size;
	line-height: 20px;
	text-align: center;
	font-family: $title-font-stack;
	font-weight: $header-font-weight;
	background: linear-gradient(135deg, transparent 15px, white 0);
}

.resume-section-content-outline {
	position: relative;
	left: -10px;
	background: $outline-color;
	width: $content-width + 20;
	padding: 10px 10px 10px 10px;
}

.resume-section-content {
	width: $content-width;
	background: white;
	padding: 15px;
	padding-top: 10px;

	&::before {
		content: '';
		width: 10px;
		height: $gutter-height;
		background-color: white;
		position: absolute;
		left: 0px;
		top: 10px;
		display: inline-block;
	}
}

.resume-section-item-container {
	height: 34px;
	font-size: $title-font-size;
	font-weight: $header-font-weight;
	font-family: $title-font-stack;
	line-height: 30px;
}

.resume-section-item {
	float: left;
}

.resume-section-date {
	float: right;
	width: 125px;
}

.resume-section-item-detail {
	color: #808080;
	font-size: medium;
	padding-left: 25px;
	padding-right: 125px;
}