// functions

@mixin margin-before($in) {
	-webkit-margin-before: $in;
			margin-before: $in;
}

// style

h1 {
	font-family: 'Lato', sans-serif;
}

h2 {
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: lighter;
}

h3 {
	@include margin-before(0);
	font-weight: normal;
	font-size: 21px;
	margin: 0;
	padding-top: 3px;
}

html {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

body {
	height: 100%;
	margin: 0;
	font-family: 'Helvetica Neue', sans-serif;
}

.page {
	display: flex;
	flex-flow: column;
	height: 100%;
}

.header {
	color: white;
	text-align: center;
	padding: 10px;

	flex: 0 1 auto;
	
	a {
		color: white;
	}
}

.content-bg {
	margin-top: 50px;
	padding: 50px 5px 10px;

	flex: 1 1 auto;

	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,0.66) 35px);
}

.content-col {
	//float: left;
}

.sidebar-col {
	//width: 250px;
	padding: 5px;
	background-color: white;
}

article {
	margin-bottom: 30px;

	// the magical clearfix
	&:after {
		content: " ";
		display: block; 
		height: 0; 
		clear: both;
	}
}

$gutter-height: 50px;

.blog-post-gutter {
	display: inline-block;
	height: $gutter-height;
	width: 150px;
	padding: 5px 5px 5px 15px;
	//line-height: $gutter-height !important;
	background-color: white;
	color: black;

	float: left;
	
	background: linear-gradient(135deg, transparent 10px, white 0);
}

.blog-post-content {
	display: inline-block;
	padding: 5px 10px 10px 10px;
	//margin-left: 150px;
	//margin-top: -$gutter-height;
	width: calc(100% - 200px);
	background-color: white;
	//min-height: 200px;

	float: left;
}