// variables
$outline-color: rgba(128, 128, 128, 1);
$title-font-stack: "Khand", sans-serif;
$gutter-width: 150px;
$gutter-height: 50px;
$content-width: 750px;
$title-font-size: x-large;

$mobile-break: 768px;
$small-break: 992px;
$large-break: 1200px;

// style
* {
	box-sizing: border-box;
}

h1 {
	font-size: 36px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: 500;
	line-height: 1.1;
	margin: .67em 0;

	a:hover {
		color: black;
	}
}

h2 {
	font-family: $title-font-stack;
	font-weight: lighter;
	font-size: 30px;
	margin-top: 25px;
	margin-bottom: 10px;
	line-height: 1.1;
}

h3 {
	font-family: $title-font-stack;
	font-size: 2em !important;
	font-weight: normal;
	margin: 0;
	padding-top: 3px;
}

h4 {
	font-family: $title-font-stack;
	font-size: 20px;
	font-weight: normal;
	margin: 0;
	padding-top: 5px;
}

a {
	color: #428bca;
	text-decoration: none;

	&:hover, &:focus {
		color: #2a6496;
		text-decoration: underline;
	}
}

p {
	margin: 0 0 10px;
}

body {
	margin: 0;
	font-family: 'Helvetica Neue', sans-serif;
	display: flex;
	flex-flow: column;
	height: 100%;
	font-size: 14px;
	line-height: 1.42857143;
}

header {
	font-family: $title-font-stack;
	font-size: 1.5em;
	text-align: center;
	padding: 10px;
	flex: 0 1 auto;
	
	a {
		color: black;
	}
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee;
}

.main-container {
	width: 100%;
	flex-direction: column;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	.content-col {
		width: 95%;
		margin: 0 auto;

		@media (min-width: $mobile-break) {
			width: calc(66% - 4px);
		}
	}

	.sidebar-col {
		width: 95%;
		margin: 0 auto;

		@media (min-width: $mobile-break) {
			width: calc(33% - 4px);
		}
	}

	@media (min-width: $mobile-break) {
		width: 750px;
		flex-direction: row;
	}

	@media (min-width: $small-break) {
		width: 970px;
		flex-direction: row;
	}

	@media (min-width: $large-break) {
		width: 1170px;
		flex-direction: row;
	}
}

.sidebar-outline {
	//background: -moz-linear-gradient(-135deg, transparent 15px, rgba(0,0,0,0.5) 0);
	background: linear-gradient(-135deg, transparent 15px, $outline-color 0);
	padding: 5px;
}

.sidebar-content {
	background: linear-gradient(-135deg, transparent 15px, white 0);
	padding: 15px;

	#about {
		margin-top: 0;
	}
}

section {
	margin-bottom: 30px;

	// the magical clearfix
	&:after {
		content: " ";
		display: block; 
		height: 0; 
		clear: both;
	}
}

.blog-post-outline {
	//background: -moz-linear-gradient(135deg, transparent 15px, rgba(0,0,0,0.5) 0);
	background: linear-gradient(135deg, transparent 15px, $outline-color 0);
	padding: 5px;
}

.blog-info-line {
	color: grey;
	margin-bottom: 10px;
}

.blog-post-container {
	background: linear-gradient(135deg, transparent 15px, white 0);
	padding: 15px;
	color: black;

	img {
		display: block;
		max-width: 100%;
		max-height: 100%;
		margin: 0 auto;
	}

	blockquote {
		font-size: 1.1em;
	}

	table {
		width: 100%;
		@media (min-width: $mobile-break) {
			width: 60%;
		}
		margin: 5px auto;
		border-collapse: collapse;
		border-spacing: 0px;

		thead > tr {
			background-color: $outline-color;
			color: white;

			th:not(:first-child) {
				border-left: 1px solid white;
			}
		}

		td {
			background-color: whitesmoke;
			border-bottom: 1px solid white;
			border-right: 1px solid white;
			padding: 4px;

			&:first-child {
				font-weight: bold;
				background-color: lightgrey;
			}
		}
	}

	h2 {
		font-size: 1.7em;
	}

	pre {
		tab-size: 4;
		-moz-tab-size: 4;
		-o-tab-size: 4;
	}
}

.blog-post-header {
	margin-bottom: 12px;
}

.blog-full-post {
	text-align: center;
}

#paginator {
	text-align: center;
	margin-bottom: 20px;
	font-size: 1.6em;
	font-family: $title-font-stack;

	a + a {
		margin-left: 5px;
	}

	em + a {
		margin-left: 5px;
	}

	a + em {
		margin-left: 5px;
	}
}