---
layout: default
---

<article class="blog-post">
    <div class="blog-post-outline">
		<div class="blog-post-content">
			<h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
            <span class="blog-info-line">
            	<time datetime="{{ page.date|date:"%F" }}">{{ page.date|date:"%b %d, %Y" }}</time> 
            	<a href="{{ page.url }}#disqus_thread"></a>
            </span>
            <br/><br/>
            <!-- <span class="blog-info-line">filed under {{ categories | category_links }}</span><br/><br/> -->
			{{ content }}
		</div>
    </div>
    {% include disqus.html %}
</article>